<mat-card *ngIf="hotelSelect" class="card-bookingDetails">
  <mat-card-header>
    <mat-card-subtitle>responsable</mat-card-subtitle>
    <mat-card-title>{{booking.responsible.name}}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

    <mat-card-subtitle>Huespedes</mat-card-subtitle>
    <mat-list>
      <mat-list-item *ngFor="let guest of booking.guests">
        <span matListItemTitle> <strong>{{guest.name}}</strong></span>
        <span matListItemLine> <strong>Email: </strong>{{guest.email}}</span>
        <span matListItemLine> <strong>Telefono: </strong>{{guest.phone}}</span>
        <span matListItemLine> <strong>Docuneto: </strong>{{guest.documentType}}: {{guest.documnet}}</span>
        <span matListItemLine> <strong>Genero: </strong>{{guest.gender}}</span>
      </mat-list-item>

    </mat-list>
    <mat-divider></mat-divider>
    <mat-card-subtitle>Detalles</mat-card-subtitle>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>
          <strong>Hotel: </strong>{{hotelSelect.name}}
        </span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>
          <strong>Habitacion </strong>{{booking.room.code}}
        </span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>
          <strong>Fechas reserva: </strong>{{this.start}} - {{this.end}}
        </span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>
          <strong>Valor total: </strong>{{priceBooking| currency}}
        </span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>
          <strong>Impuesto: </strong>{{booking.room.tax}}
        </span>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
  </mat-card-content>
<mat-card>

