<mat-card>
  <mat-card-header>
    <mat-card-title>
      Registra tu reserva
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formReservation" (ngSubmit)="onSubmit()">
      <div >
        <mat-card-subtitle>
          Pasajeros
        </mat-card-subtitle>
        <div formArrayName="passengers">
          <div  *ngFor="let passenger of passengerForm.controls; let i=index">
            <mat-card-subtitle>
              Pasajero {{i+1}}
            </mat-card-subtitle>
            <div class="form-group-booking" class="passenger" [formGroupName]="i">
              <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" id="passenger-name-{{i}}" formControlName="name" required>
                <mat-error *ngIf="isFieldInvalid('passengers.' + i + '.name', 'required')">
                  {{ errorMessage.name.required }}
                </mat-error>
                <mat-error *ngIf="isFieldInvalid('passengers.' + i + '.name', 'minlength')">
                  {{ errorMessage.name.minlength }}
                </mat-error>
                <mat-error *ngIf="isFieldInvalid('passengers.' + i + '.name', 'maxlength')">
                  {{ errorMessage.name.maxlength }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth"  [max]="maxDate" [min]="minDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="isFieldInvalid('passengers.' + i + '.dateOfBirth', 'required')">
                  {{ errorMessage.dateOfBirth.required }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" >
                <mat-label >Correo Electronico</mat-label>
                <input matInput type="text" id="passenger-email-{{i}}" formControlName="email" required>
                <mat-error *ngIf="isFieldInvalid('passengers.' + i + '.email', 'required')">
                  {{ errorMessage.email.required }}
                </mat-error>
                <mat-error *ngIf="isFieldInvalid('passengers.' + i + '.email', 'email')">
                  {{ errorMessage.email.email }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label >Celular</mat-label>
                <input matInput type="tel" id="passenger-phone-{{i}}" formControlName="phone" required>
                <mat-error *ngIf="isFieldInvalid('passengers.' + i + '.phone', 'required')">
                  {{ errorMessage.phone.required }}
                </mat-error>
                <mat-error *ngIf="isFieldInvalid('passengers.' + i + '.phone', 'minlength')">
                  {{ errorMessage.phone.minlength }}
                </mat-error>
                <mat-error *ngIf="isFieldInvalid('passengers.' + i + '.phone', 'maxlength')">
                  {{ errorMessage.phone.maxlength }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Tipo de documento</mat-label>
                <mat-select id="passenger-documentType-{{i}}" formControlName="documentType">
                  <mat-option *ngFor="let type of documentTypes" [value]="type.value">{{type.title}}</mat-option>
                </mat-select>
                <mat-error *ngIf="isFieldInvalid('passengers.' + i + '.documentType', 'required')">
                  {{ errorMessage.documentType.required }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label >Documento</mat-label>
                <input matInput type="number" id="passenger-document-{{i}}" formControlName="document" required>
                <mat-error *ngIf="isFieldInvalid('passengers.' + i + '.document', 'required')">
                  {{ errorMessage.document.required }}
                </mat-error>
                <mat-error *ngIf="isFieldInvalid('passengers.' + i + '.document', 'minlength')">
                  {{ errorMessage.document.minlength }}
                </mat-error>
                <mat-error *ngIf="isFieldInvalid('passengers.' + i + '.document', 'maxlength')">
                  {{ errorMessage.document.maxlength }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Género</mat-label>
                <mat-select formControlName="gender">
                  <mat-option *ngFor="let gender of genders" [value]="gender.value">{{gender.title}}</mat-option>
                </mat-select>
                <mat-error *ngIf="isFieldInvalid('passengers.' + i + '.gender', 'required')">
                  {{ errorMessage.gender.required }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <button
          class="btn-passenger"
          mat-raised-button
          color="accent"
          type="button"
          [disabled]="disableAddPassanger"
          (click)="addPasseger()"
        >
          Agregar pasajero
        </button>
      </div>
      <div class="form-group-booking" formGroupName="emergencyContact">
        <mat-form-field appearance="fill">
          <mat-label for="emergencyContactName">Nombre del contacto de emergencia</mat-label>
          <input matInput formControlName="name" type="text" class="form-control" />
          <mat-error *ngIf="isFieldInvalid('emergencyContact.name', 'required')">
            {{ errorMessage.name.required }}
          </mat-error>
          <mat-error *ngIf="isFieldInvalid('emergencyContact.name', 'minlength')">
            {{ errorMessage.name.minlength }}
          </mat-error>
          <mat-error *ngIf="isFieldInvalid('emergencyContact.name', 'maxlength')">
            {{ errorMessage.name.maxlength }}
          </mat-error>
        </mat-form-field>
        <mat-form-field >
          <mat-label for="emergency-contact-phone">Teléfono del contacto de emergencia</mat-label>
          <input matInput type="tel" id="emergency-contact-phone" formControlName="phone" required>
          <mat-error *ngIf="isFieldInvalid('emergencyContact.phone', 'required')">
            {{ errorMessage.phone.required }}
          </mat-error>
          <mat-error *ngIf="isFieldInvalid('emergencyContact.phone', 'minlength')">
            {{ errorMessage.phone.minlength }}
          </mat-error>
          <mat-error *ngIf="isFieldInvalid('emergencyContact.phone', 'maxlength')">
            {{ errorMessage.phone.maxlength }}
          </mat-error>
        </mat-form-field>
      </div>
      <button
      mat-raised-button
      color="primary"
      [disabled]="formReservation.invalid"
      type="submit"
      >
      Enviar</button>
    </form>
  </mat-card-content>
<mat-card>
