:host{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

mat-card{
  width: 90vw;
  max-width: 900px;
  margin: 2em;
  text-align: center;
}

mat-card-header{
  display: unset;
}
mat-card-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group-booking, .guest{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.btn-guest, mat-card-subtitle{
  margin-bottom: 2em;
}

mat-form-field{
  min-width: 250px;
  width: 100%;
}



mat-card-footer{
  display: flex;
  justify-content: center;

  .btn-back{
    max-width: 200px;
    margin: 2em
  }
}



@media (min-width: 750px){

  mat-card-footer{
    display: flex;
    justify-content: flex-start;

    .btn-back{
      max-width: 200px;
      margin: 2em
    }
  }

  mat-form-field{
    display: block;
    min-width: 300px;
    width: 47.5%;
  }


}
