<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
      <!-- [opened]="(isHandset$ | async) === false" -->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
      </a>
      <a mat-list-item [routerLink]="['/reservationsList']">
        <mat-icon>event</mat-icon>
        Reservas
      </a>
      <a mat-list-item [routerLink]="['/createHotel']">
        <mat-icon>add_location</mat-icon>
        Crear Hotel
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a mat-list-item [routerLink]="['/']">
        <span>Smart Hotels</span>
      </a>
      <span class="example-spacer"></span>
      <button
        id="logged-out-button"
        mat-icon-button
        class=""
        aria-label=""
        (click)="logout()"
      >
        <mat-icon>logout</mat-icon>
      </button>
      <button
        mat-icon-button
        class=""
        aria-label=""
        style="display:none;"
        (click)="redirectLogin()"
      >
        <mat-icon>person</mat-icon>
      </button>


    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
