<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
      <!-- [opened]="(isHandset$ | async) === false" -->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">
        <div class="nav-item">
          <mat-icon>home</mat-icon>
          <p class="nav-caption">Home</p>
        </div>
      </a>
      <a
        *ngIf="isLogued"
        mat-list-item
        [routerLink]="['/hotels']">
        <div class="nav-item">
          <mat-icon>list</mat-icon>
          <p>Lista de Hoteles</p>
        </div>
      </a>
      <a
        *ngIf="isLogued"
        mat-list-item
        [routerLink]="['/reservationsList']">
        <div class="nav-item">
          <mat-icon>event</mat-icon>
          <p class="nav-caption">Reservas</p>
        </div>
      </a>
      <a
        *ngIf="isLogued"
        mat-list-item
        [routerLink]="['/createHotel']">
        <div class="nav-item">
          <mat-icon>add_location</mat-icon>
          <p>Crear Hotel</p>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a mat-list-item [routerLink]="['/']">
        <span>Smart Hotels</span>
      </a>
      <span class="example-spacer"></span>
      <button
        id="logged-out-button"
        mat-icon-button
        class=""
        aria-label=""
        *ngIf="isLogued"
        (click)="logout()"
      >
        <mat-icon>logout</mat-icon>
      </button>
      <button
        mat-icon-button

        *ngIf="!isLogued"
        (click)="redirectLogin()"
      >
        <mat-icon>person</mat-icon>
      </button>


    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
