<mat-card>
  <form
    [formGroup]="pickerRangeDate"
  >
    <mat-form-field appearance="fill">
      <mat-label>Ingresa un rango de fechas</mat-label>
      <mat-date-range-input formGroupName="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Llegada">
        <input matEndDate formControlName="end" placeholder="Salida">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker touchUi #picker></mat-date-range-picker>
      <mat-error *ngIf="isFieldInvalid('range.start', 'required')">
        {{ errorMessage.start.required}}
      </mat-error>
      <mat-error *ngIf="isFieldInvalid('range.end', 'required')">
        {{ errorMessage.end.required}}
      </mat-error>
    </mat-form-field>
  </form>
</mat-card>

